// Custom styles

.auth-image {

  @include breakpoint(medium) {
    min-height: $line-height * 62;
  }
}

.comment-form-label {
  font-size: rem-calc(24);
}

.comment-body .reply {

  [class^="icon-arrow"] {
    left: -14px;
    top: -7px;
  }
}
