// Custom styles

.auth-image {

  @include breakpoint(medium) {
    min-height: $line-height * 62;
  }
}

.comment-form-label {
  font-size: rem-calc(24);
}

.comment-body .reply {

  [class^="icon-arrow"] {
    left: -14px;
    top: -7px;
  }
}

.auth-form .signup-help-link p,
.auth-form .signup-help-link a {
  font-size: $base-font-size;
}

.comment-form {

  .input-group {
    margin-bottom: 0;

    [type="text"] {
      margin-bottom: 0 !important;
    }
  }

  .input-group-label {
    height: $line-height * 2;
  }
}

