// Custom styles

.auth-image {

  @include breakpoint(medium) {
    min-height: $line-height * 62;
  }
}

.comments .comment {
  margin-bottom: $line-height * 2;
}

.comment-form-label {
  font-size: rem-calc(24);
}
